*{
    padding: 0;
    margin: 0;
}

.animationArea{
    height: 100vh;
    width: 100vw;
}

.boxArea{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.boxArea li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
} 



.boxArea li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background: rgba(153, 0, 255, 0.3);
}

.boxArea li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
    background: rgba(153, 0, 255, 0.6);
}

.boxArea li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
    background: rgba(153, 0, 255, 0.8);
}

.boxArea li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 1.5s;
    background: rgba(153, 0, 255, 0.7);
}

.boxArea li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
    background: rgba(153, 0, 255, 0.3);
}

.boxArea li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    background: rgba(153, 0, 255, 0.5);
}

.boxArea li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
    background: rgba(153, 0, 255, 0.1);
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 1;
    }
}